@import '../../../partials/partials';

.defense {
  display: flex;
  flex-direction: column;
  width: 320px;
  align-self: center;
  &__section {
    padding: 0.5rem;
    background-color: gray;
    border-radius: 10px;
    margin-bottom: 1rem;
  }
}

.box {
  display: flex;
  text-align: center;
  justify-content: space-between;
  &__small-wrapper {
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    width: 80px;
    height: 80px;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
  &__small-input {
    background-color: white;
    border: none;
    text-align: center;
    font-size: 2rem;
    width: 100%;
    height: 80%;
  }
  &__title {
    font-size: 1rem;
    background-color: white;
  }
  &__big-wrapper {
    border: 1px solid black;
    background-color: white;
    border-radius: 10px;
    width: 100%;
    height: 100px;
    margin-bottom: 1rem;
    padding: 1rem 0;
    text-align: center;
  }
  &__big-input {
    border: none;
    text-align: center;
    font-size: 2rem;
    width: 100%;
    height: 80%;
  }
  &__survival-wrapper {
    background-color: white;
    padding: 1rem 0;
    border: 1px solid black;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 1rem;
    text-align: center;
  }
  &__survival-cont {
    &--label {
    }
    &--input {
      margin-left: 1rem;
    }
  }
}
