@import '~bootstrap/scss/bootstrap';
@import './partials/partials';

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: eaves;
  font-size: 0.5rem;
}
