@use "./partials/partials" as *;
@import '~bootstrap/scss/bootstrap';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: eaves;
  font-size: 0.5rem;
}

Link {
  text-decoration: none;
  &:focus {
    color: inherit;
  }
  &:active {
    color: black;
  }
}

a {
  text-decoration: none;
  &:focus {
    text-decoration: none;
  }
  &:active {
    color: black;
  }
}
