@import '../../../partials/partials';

.skills-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 232px;
}
.misc-wrapper {
  width: 100%;
}
.misc {
  display: flex;
  align-items: baseline;
  &__input {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 2rem;
    border-radius: 10px;
    &::before {
      @include dnd-border;
    }
  }
  &__label {
    padding-left: 1rem;
    padding-right: 4rem;
    width: auto;
  }
}
.saving-throws-wrapper {
  background-color: white;
  @include dnd-border;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  .saving-throws {
    &__input-check {
      width: 1em;
      height: 1em;
      background-color: white;
      border-radius: 50%;
      vertical-align: middle;
      border: 1px solid rgb(63, 62, 62);
      -webkit-appearance: none;
      outline: none;
      cursor: pointer;
      &:checked {
        background-color: rgb(26, 24, 24);
      }
    }
    &__input-text {
      margin-left: 0.3rem;
      text-align: center;
      width: 25px;
      border: none;
      border-bottom: 1px solid black;
    }
    &__label {
      margin-left: 0.5rem;
      font-size: 1.2rem;
      font-size: 0.9rem;
    }
    &__title {
      text-align: center;
    }
  }
}
.skills-wrapper {
  background-color: white;
  width: 100%;
  @include dnd-border;
  border-radius: 10px;
  .skills {
    &__input-check {
      width: 1em;
      height: 1em;
      background-color: white;
      border-radius: 50%;
      vertical-align: middle;
      border: 1px solid rgb(63, 62, 62);
      -webkit-appearance: none;
      outline: none;
      cursor: pointer;
      &:checked {
        background-color: rgb(26, 24, 24);
      }
    }
    &__input-text {
      margin-left: 0.3rem;
      text-align: center;
      width: 25px;
      border: none;
      border-bottom: 1px solid black;
    }
    &__label {
      margin-top: 4px;
      font-size: 1rem;
    }
    &__title {
      text-align: center;
    }
  }
}
