@import '../../../partials/partials';

.saving-throw-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}
.misc {
  align-self: flex-start;
  margin-left: 1rem;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  &__input {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 2rem;
    border-radius: 10px;
  }
  &__label {
    margin-left: 1rem;
  }
}

.saving-throws {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 200px;
  height: 200px;
  border: 1px solid black;
  border-radius: 10px;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
  &__wrapper {
    display: flex;
    margin-left: 0.5rem;
  }
  &__input-box {
    margin-top: 0.5rem;
  }
  &__input-text {
    margin-left: 0.3rem;
    text-align: center;
    width: 25px;
    border: none;
  }
  &__label {
    margin-bottom: 0;
    margin-top: 4px;
    font-size: 1rem;
    font-size: 0.9rem;
  }
  &__title {
    text-align: center;
  }
}
.skills {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 200px;
  height: 565px;
  border: 1px solid black;
  border-radius: 10px;
  margin-left: 0.5rem;
  &__wrapper {
    display: flex;
    margin-left: 0.5rem;
  }
  &__input-box {
    margin-top: 0.5rem;
  }
  &__input-text {
    margin-left: 0.3rem;
    text-align: center;
    width: 25px;
    border: none;
  }
  &__label {
    margin-bottom: 0;
    margin-top: 4px;
    font-size: 0.9rem;
  }
  &__title {
    text-align: center;
  }
}
