@import '../../partials/partials';

.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-image: linear-gradient(
      rgba(39, 37, 37, 0.493),
      rgba(39, 37, 37, 0.52)
    ),
    url('../../assets/Images/sigil.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @include tablet {
    background-image: linear-gradient(
        rgba(39, 37, 37, 0.493),
        rgba(39, 37, 37, 0.52)
      ),
      url('../../assets/Images/singup.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &__title {
    font-size: 3rem;
    font-family: nodesto;
    margin-left: 1rem;
    color: white;
  }
}
.form {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  &__label {
    color: white;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  &__input {
    border-radius: 5px;
    margin-bottom: 1rem;
    width: 300px;
    @include tablet {
      width: 348px;
    }
  }
  &__button {
    align-self: center;
    border-radius: 5px;
    border: none;
    background-color: $wizard-red;
    color: white;
    font-family: nodesto;
    font-size: 1.5rem;
    padding: 0.5rem;
    margin-top: 2rem;
  }
  &__forgot {
    color: white;
    font-size: 1.5rem;
    margin-top: 1rem;
    text-align: center;
  }
}
