.attributes {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: gray;
  border-radius: 10px;
  width: 120px;
  padding-bottom: 1rem;
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  &__score {
    display: flex;
    flex-direction: column;
    align-items: center;
    &--label {
      margin-top: 1rem;
    }
    &--input {
      width: 70px;
      height: 66px;
      text-align: center;
      border-radius: 10px;
      font-size: 2.5rem;
    }
  }
  &__modifier {
    &--input {
      width: 35px;
      height: 35px;
      text-align: center;
      border-radius: 10px;
      font-size: 1.5rem;
    }
  }
}
