@import '../../partials/partials';

.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-image: linear-gradient(rgba(39, 37, 37, 0.493), rgba(39, 37, 37, 0.52)), url('../../assets/Images/sigil.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @include tablet {
    background-image: linear-gradient(rgba(39, 37, 37, 0.493), rgba(39, 37, 37, 0.52)), url('../../assets/Images/singup.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
