@import '../../../../partials/partials';

.conditions-wrapper {
  display: flex;
  flex-direction: column;
}

.modal-search {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  &__label {
    margin-left: 1rem;
  }
  &__input {
    margin-left: 2rem;
    margin-right: 0.5rem;
    width: 100%;
  }
}

.modal-title {
  width: 100%;
  font-size: 1rem;
}
