@import '../../partials/partials';

.info-card {
  width: 250px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 1rem 1rem;
  margin-top: 2rem;
  @include tablet {
    width: 200px;
  }
  @include desktop {
  }
  &__img {
    width: auto;
    height: 150px;
  }
  &__body {
    display: flex;
    flex-direction: column;
    &--title {
      color: $wizard-red;
      @include tablet {
        font-size: 0.7rem;
      }
    }
    &--description {
      @include tablet {
        font-size: 0.6rem;
      }
    }
  }
}
