@import '../../partials/partials';

.call-to-action {
  &--button {
    text-align: center;
    background-color: #e8443c;
    border-radius: 10px;
    padding: 0.2rem 1rem;
    @include tablet {
      text-align: center;
      margin-bottom: 1rem;
    }
  }
  &--link {
    font-family: nodesto;
    font-weight: 100;
    color: white;
    &:hover {
      text-decoration: none;
    }
    @include tablet {
      font-size: 0.6rem;
    }
  }
}
