@import '../../partials/partials';

.call-to-action {
  &--button {
    text-align: center;
    background-color: #e8443c;
    border-radius: 10px;
    margin: 1rem 0;
    padding: 0.5rem 0.5rem;
    width: 170px;
  }
  &--link {
    font-family: nodesto;
    font-size: 1rem;
    font-weight: 100;
    color: white;
    @include tablet {
      font-size: 1.5rem;
    }
    text-decoration: none;
    &:focus,
    &:visited,
    &:link,
    &:active {
      text-decoration: none;
    }
  }
}
