@import '../../partials/partials';
.form {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  &__title {
    font-size: 1.5rem;
    font-family: nodesto;
    color: white;
  }
  &__label {
    color: white;
    font-size: 1rem;
  }
  &__input {
    background-color: $cleric-blue;
    border-radius: 5px;
    height: 1.3rem;
    margin-bottom: 0.5rem;
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
  &__button {
    align-self: center;
    &--button {
      border-radius: 5px;
      border: none;
      background-color: $wizard-red;
      color: white;
      font-family: nodesto;
      font-size: 0.8rem;
      padding: 0.5rem;
      margin-top: 2rem;
      margin-left: auto;
    }
  }
  &__forgot {
    color: white;
    margin-top: 0.5rem;
    text-align: center;
  }
}
