@import '../../partials/partials';

* {
  font-family: eaves;
}
.footer {
  background-color: $wizard-red;
  height: auto;
  @include tablet {
    padding: 0 10rem;
  }
  &__social {
    &--wrapper {
      display: flex;
      flex-direction: column;
      padding: 1rem;
      @include tablet {
        flex-direction: row;
      }
      @include desktop {
        margin-left: 11.25rem;
        margin-right: 11.25rem;
      }
    }
    &--title {
      font-family: 'nodesto';
      font-size: 1rem;
      @include white-text;
    }
    &--icon-wrapper {
      @include tablet {
        margin: 0 1rem;
      }
    }
    &--icon {
      margin: 0 1rem;
    }
    &--img {
      height: 25px;
      width: 25px;
    }
  }
  &__info {
    @include flex-row;
    justify-content: space-between;
    padding: 0 1rem;
    flex-wrap: wrap;
    @include tablet {
      flex-direction: row;
      justify-content: space-between;
    }
    @include desktop {
      margin-left: 11.25rem;
      margin-right: 11.25rem;
    }
    &--wrapper {
      margin-bottom: 1rem;
      font-size: 0.6rem;
    }
    &--title {
      font-family: 'nodesto';
      @include white-text;
    }
    &--subtitle {
      font-size: 0.6rem;
      @include white-text;
    }
    &--address {
      @include white-text;
    }
    &--email {
      @include white-text;
      text-decoration: none;
      &:focus,
      &:hover,
      &:visited,
      &:link,
      &:active {
        text-decoration: none;
      }
    }
  }
  &__copyright {
    margin-left: 1rem;
    @include white-text;
    text-align: center;
    margin-bottom: 2.5rem;
    font-size: 0.5rem;
    @include desktop {
      margin-top: 2.5rem;
      margin-left: 2rem;
    }
  }
}
