@import '../../partials/partials';
.header {
  background-color: $cleric-blue;
  @include tablet {
    background-image: url('../../assets/Images/dnd-background.jpeg');
    background-size: cover;
    height: 65vh;
  }
}
.hero {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include tablet {
    flex-direction: row;
    justify-content: space-around;
    height: 350px;
    margin-left: 1rem;
  }
  @include desktop {
    height: 65vh;
    margin-left: 4rem;
  }
  &__text {
    margin-bottom: 1rem;
    &--title {
      font-family: nodesto;
      font-size: 3rem;
      text-align: center;
      margin-top: 1rem;
      margin-bottom: 1.5rem;
      @include tablet {
        font-size: 2rem;
        text-shadow: 1px 1px 0px $rogue-black;
        color: white;
      }
    }
    &--paragraph {
      font-family: eaves;
      font-size: 1.7rem;
      text-align: center;
      margin-bottom: 1rem;
      @include tablet {
        text-shadow: 1px 1px 0px $rogue-black;
        color: white;
      }
    }
  }
  &__figure {
    margin-bottom: 1.5rem;
    @include tablet {
      display: none;
    }
    &--img {
      width: 200px;
      height: 200px;
    }
  }
}
