//****Colors****
$barbarian-red: #ed0700;
$wizard-red: #e8443c;
$rogue-black: #071013;
$druid-brown: #ad8a64;
$cleric-white: #d2cbcb;
$cleric-blue: #f3ffff;
$ranger-green: #a2bc95;
// ****Screen Sizes****
$mobile: 385px;
$tablet: 768px;
$desktop: 1280px;

// LAYOUT MIXIN**********************************************************
@mixin tablet {
  @media (min-width: $tablet) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: $desktop) {
    @content;
  }
}

//** BORDER **
@mixin dnd-border {
  border: 12px solid transparent;
  border-image-source: url(../assets/Images/dnd-maybe.svg);
  border-image-slice: 10%;
}

@mixin dnd-border2 {
  border: 5px solid transparent;
  border-image-source: url(../assets/Images/headSquare.svg);
  border-image-slice: 10%;
}

@mixin dnd-border-circle {
  border: 10px solid transparent;
  border-image-source: url(../assets/Images/headCircle.svg);
  border-image-slice: 10%;
}
@mixin dnd-border-misc {
  border: 1px solid transparent;
  border-image-source: url(../assets/Images/misc-border.svg);
  border-image-slice: 10%;
}

// **** FONT ****
@mixin font-list {
  @font-face {
    font-family: 'nodesto';
    src: url('../assets/Font/Nodesto-Caps-Condensed.otf');
    font-weight: normal;
  }
  @font-face {
    font-family: 'eaves';
    src: url('../assets/Font/Mr-Eaves-Small-Caps.otf');
    font-weight: normal;
  }
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin white-text {
  color: white;
  text-shadow: 1px 1px 0px $rogue-black;
}
